# Rename this file to .env and fill in your own secret keys.
# Do not commit your real .env file to source control.

DISCORD_BOT_TOKEN='YourDiscordBotTokenHere'
OPENAI_API_KEY='Bearer YourOpenAITokenHere'
